html {
  box-sizing: border-box;
  font-family: 'Sansita Swashed', cursive;
}

.navbar {
  font-family: 'Sansita Swashed', cursive;
  padding: 1rem;
  position: absolute;
  bottom: 0;
  width: calc(100% - 2rem);
  background-color: black;
}

.navbar nav {
  display: flex;
  justify-content: center;
}

.nav-item {
  margin: 0 1em;
  font-size: 1.4em;
  cursor: pointer;
  color: white;
}
